@import "nib"
global-reset()

//vertical-align()
//  position relative
//  top 50%
//  transform translateY(-50%)

@import "bem-blocks/head"
@import "bem-blocks/head__logo"
@import "bem-blocks/content"
@import "bem-blocks/footer"