//@import '../node_modules/compass-mixins/lib/compass/_reset.scss';
//@include global-reset();

//@mixin vertical-align {
//  position: relative;
//  top: 50%;
//  transform: translateY(-50%);
//}

html {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}
